In [64]:
import pandas as pd

In [124]:
df = pd.read_excel(r'C:\Users\lgons\workspace\Python\Data_Cleaning_Project\Customer_Call_List.xlsx')

In [125]:
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [126]:
#drop duplicates
df = df.drop_duplicates()

In [127]:
#Drop unnecessary columns
df = df.drop(columns = 'Not_Useful_Column')

In [128]:
#Cleaning Last_Name column
df['Last_Name'] = df['Last_Name'].str.strip('./_123')

In [129]:
#Cleaning Phone Number column
#delete all values except of a to z, A to Z, and 0 to 9
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]', '', regex = True)
#Convert all numbers into string to handle them
df['Phone_Number'] = df['Phone_Number'].apply(lambda x:str(x)) 
#Separate the numbers with -
df['Phone_Number'] = df['Phone_Number'].apply(lambda x : x[0:3] + '-' + x[3:6] + '-' + x[6:9])  
#Delete nan-- and 'Na--
df['Phone_Number'] = df['Phone_Number'].replace('nan--', '')
df['Phone_Number'] = df['Phone_Number'].replace('Na--', '')

In [130]:
#Cleaning Address column
df[['StreetAdress', 'State', 'ZIP']] = df['Address'].str.split(',', n=2, expand = True)
df = df.drop("Address", axis = 1)

In [131]:
#cleaning Paying Customer column

df['Paying Customer'] = df['Paying Customer'].str.replace('Yes', 'Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No', 'N')

df['Paying Customer'] = df['Paying Customer'].str.replace('Y', 'Yes')
df['Paying Customer'] = df['Paying Customer'].str.replace('N', 'No')

In [132]:
#cleaning Do_Not_Contact column

df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes', 'Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No', 'N')

In [137]:
#replace NaN, No/a, N/a
df.replace('N/a', '', inplace = True)
df.replace('No/a', '', inplace = True)
df.replace('NaN', '', inplace = True)

In [138]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,StreetAdress,State,ZIP
0,1001,Frodo,Baggins,123-545-542,Yes,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-977,No,Y,93 West Main Street,None,None
2,1003,Walter,White,,No,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-234,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-346,Yes,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-246,Yes,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,,No,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-346,No,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-542,Yes,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,Yes,N,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,Yes,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-234,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-346,Yes,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-246,No,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-542,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-977,Yes,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,Yes,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,,Y,,None,None
19,1020,Anakin,Skywalker,876-678-346,Yes,N,910 Tatooine Road,Tatooine,None